@font-face {
  font-family: 'Southampton';
  src: url('../fonts/southampton.otf') format('opentype');
}


/**** Base Styles ****/

body {
  font-family: 'Libre-Baskerville', serif;
  font-family: 'Open-Sans', sans-serif;
}


#about {height: 1150px;
}
#portfolio {height: 925px;
}
#contact {height: 575px;
}


/**** Grid ****/

.full-width {
  width: 1400px;
  margin: 0 auto;
}
.half-width {
  width: 700px;
  float: left;
}
.third-width {
  width: 450px;
  float: left;
}

/**** Header ****/

header {
    height: 750px;
    background-color: white;
}
header img {
    float: left;
    padding: 275px 20px 0 100px;
}
header h1 {
    color: #313131;
    font-family: 'Libre-Baskerville';
    font-size:64px;
    font-weight:bold;
    padding: 275px 0 0 100px;
}
  header h1 span {
    color:#ff654a;
    font-family: 'Southampton';
    letter-spacing: 3px;
}
  nav ul {
    float: right;
    padding-right: 40px;
}
  nav ul li {
    display: inline-block;
}
  nav ul li a {
    text-transform:uppercase;
    text-decoration:underline;
    font-size:20px;
    font-weight: lighter;
    color:#313131;
    font-family: 'Open-Sans',sans-serif;
    padding-left: 5px;
}
  nav a:hover {
    color:#ff654a;
}

  header h2 {
    font-family:'Open-Sans',sans-serif;
    font-size:48px;
    line-height:60px;
    font-weight:300;
    color:#313131;
    padding-left: 100px;
}


/***** About *****/


#about .full-width {
    padding-top:50px;
    background-color: #ff654a;
    height: 1150px;
}
#about h3 {
    font-family: 'Libre-Baskerville';
    font-size: 36px;
    text-align: center;
    padding-bottom: 20px;
    color: #ffffff;
    font-weight:lighter;
}
#about h3 span {
    font-family:'Southampton';
    font-weight: lighter;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 50px;
}
#about img#about-img {
    margin-left: 550px;
    border: 1px solid #ffffff;
    box-shadow: 0 10px 20px;
}
#about p {
    font-family: 'Open-Sans',sans-serif;
    font-size: 24px;
    font-weight: lighter;
    line-height: 46px;
    text-align: center;
    color: #ffffff;
    padding-left: 250px;
    padding-right: 250px;
}
#about p span {
    font-family:'Southampton';
    font-weight: lighter;
    letter-spacing: 3px;
    color: #ffffff;
    font-size: 32px;
}

/***** Portfolio *****/

#portfolio .full-width {
    padding-top: 110px;
    padding-left: 20px;
    text-align: center;
}
#portfolio img {
    padding-top: 130px;
    padding-bottom: 30px;
}
#portfolio h3 {
    font-family: 'Southampton';
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}
#portfolio h4 {
    font-family: 'Open-Sans';
    font-size: 24px;
    margin-bottom: -30px;
}
#portfolio h5 {
    font-family: 'Open-Sans',sans-serif;
    font-size: 24px;
    font-weight: lighter;
}


/***** Contact *****/

#contact .full-width {
    background-color: #ff654a;
    height: 650px;
    padding-top: 100px;
}
#contact h3 {
    font-family: 'Southampton';
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    padding-bottom: 60px;
    letter-spacing: 3px;
}
#contact h4 {
    font-family: 'Libre-Baskerville';
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    padding-bottom: 15px;
    padding-left: 35px;
}
 #contact h5 {
   font-family: 'Open-Sans',sans-serif;
   font-size: 30px;
   font-weight: lighter;
   text-align: center;
   color: #ffffff;
   padding-bottom: 15px;
   padding-left: 35px;
 }
 #contact #mail a {
   font-family: 'Open-Sans',sans-serif;
   font-size: 30px;
   font-weight: lighter;
   color: #ffffff;
   padding-left: 150px;
   padding-top: 20px;
 }
 #contact ul {
   list-style: none;
   margin-top: -10px;
 }
 #contact ul li {
   display: inline-block;
 }
 #contact ul img {
   padding-left: 60px;
   padding-top: 20px;
 }

/***** Footer *****/

 footer h5 {
   color: #ffffff;
   text-align: center;
   padding-top: 70px;
   letter-spacing: 1px;
   font-weight: lighter;
 }
